<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @quote.amount %>
</p>

<p>
  <strong>Interest:</strong>
  <%= @quote.interest %>
</p>

<p>
  <strong>Principle:</strong>
  <%= @quote.principle %>
</p>

<p>
  <strong>Total:</strong>
  <%= @quote.total %>
</p>

<p>
  <strong>Status:</strong>
  <%= @quote.status %>
</p>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
